{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var loader = "{{ asset('assets/images/ajax-loader.gif') }}"
    </script>
    <script src="{{ asset('assets/js/customJS/usersJS.js') }}"></script>

{% endblock %}
{% block content %}
    <div class="container">
        <div class=" col-lg-12 box-default">
            {% if type == 'following' %}
                {% if app.user.id == profile_user.id%}
                    <h1 class="box-header">Gente a la que sigues</h1>
                {% else %}
                    <h1 class="box-header">Gente a la que sigue <a href="{{ path('user_profile',{'nickname':profile_user.nick}) }}">{{ profile_user.nick }}</a></h1>
                {% endif %}
            {% else %}
                {% if app.user.id == profile_user.id%}
                    <h1 class="box-header">Gente que te sigue</h1>
                {% else %}
                    <h1 class="box-header">Gente siguiendo a <a href="{{ path('user_profile',{'nickname':profile_user.nick}) }}">{{ profile_user.nick }}</a></h1>
                {% endif %}
            {% endif %}
            <div class="count">
                <span class="label label-primary">
                     Total de personas: {{ users.getTotalItemCount }}
                </span>
            </div>
            <hr/>
            <div class="box-content box-users">
                {% for following_user in users %}


                    {% if type == 'following' %}
                        {% set user = following_user.followed %}
                    {% else %}
                        {% set user = following_user.user %}
                    {% endif %}

                    <div class="col-lg-12 user-item">
                        <div class="avatar">
                            {% if user.image == null %}
                                <img src="{{ asset('assets/images/default.png') }}"/>
                            {% else %}
                                <img src="{{ asset('uploads/users/'~user.image) }}"/>
                            {% endif %}
                        </div>
                        <div class="user-item-content">
                        <p><a class = "user-link" href="{{ path('user_profile',{'nickname':user.nick}) }}">{{ user.name }} {{ user.surname }}</a> - {{ user.nick }}</p>
                            <p>{{ user.bio }}</p>
                        </div>
                        {% if app.user.id != user.id %}
                        <div class="pull-right button-following">
                            <button class="btn btn-sm btn-success btn-follow
                            {% if app.user|following(user) == true %}
                                hidden
                            {% endif %}
                            "
                                    data-followed="{{ user.id }}">
                                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                Seguir
                            </button>

                            <button class="btn btn-sm btn-info btn-unfollow
                             {% if app.user|following(user) == false %}
                                hidden
                            {% endif %}
                            " data-followed="{{ user.id }}">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                Dejar de seguir
                            </button>
                        </div>
                        {% endif %}
                        <div class="clearfix"></div>
                        <hr/>
                    </div>

                {% endfor %}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(users) }}
            </div>
            <div class="clearfix"></div>

        </div>
    </div>

{% endblock %}